@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ea8983;
  --secondary-color: #d1d6e4;
  --dark-color: #07090d;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 12px;
}
